* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto"; */
  /* font-family: "Lilita One"; */
}
:root {
  --font-lil: "Lilita One";
  --font-rot: "Roboto";
}
/* 
  PC responsive
*/
@media (min-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .app {
    background: linear-gradient(to bottom, #273852, #1d3151);
    width: 100vw;
    height: 100vh;
  }
  .userName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 0px 20px;
    font-size: 20px;
    font-family: var(--font-rot);
    height: 80px;
    line-height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .userName input {
    height: 40px;
    font-size: 20px;
    color: #013f13;
    padding: 0px 10px;
    border: 1px solid #bdbdbd;
  }
  .userName input:focus {
    outline: none;
  }
  .enter-btn {
    background: #e0405d;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    border-radius: 10px;
    color: aliceblue;
    font-family: var(--font-rot);
  }
  .enter-btn:hover {
    cursor: pointer;
  }

  /* <!------------------- Navigation -----------> */
  .nav {
    display: flex;
    justify-content: center;
  }
  .restart-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restart-btn {
    padding: 20px 20px;
    background: yellow;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: var(--font-rot);
  }
  .wrap-nav-boxes {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border: 3px solid aliceblue;
    border-radius: 20px;
    height: 100px;

    margin: 20px 0px;
    background: #1d3151;
  }
  .game-name {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
  }

  .first,
  .second,
  .third {
    color: rgb(255, 255, 255);
    font-family: var(--font-lil);
  }
  .rules-box {
    padding: 0px 50px;
    font-family: var(--font-rot);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rules-btn {
    font-size: 22px;
    font-weight: bold;
    color: #4e4c5b;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }
  .rules-btn:hover {
    cursor: pointer;
    background-color: yellow;
    transition: 0.5s;
  }

  .rules {
    position: absolute;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
  }
  .fr {
    color: rgb(1, 156, 9);
  }
  .sc {
    color: rgb(190, 0, 0);
  }
  .th {
    color: rgb(187, 207, 0);
  }
  .five-time {
    color: rgb(190, 0, 0);
  }
  .play-box {
    display: flex;
    justify-content: center;
  }
  .play-btn {
    padding: 10px 15px;
    background: rgb(190, 0, 0);
    border-radius: 10px;
    color: aliceblue;
  }
  .play-btn:hover {
    cursor: pointer;
  }
  /* <!------------------- Game -----------> */
  .main-game {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .wrap-game {
    width: 1200px;
    display: flex;
  }
  .player,
  .npc {
    width: 600px;
    height: 450px;
  }
  @keyframes clickMoving {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(25px);
    }
    50% {
      transform: translateX(50px);
    }
  }
  .click-btn {
    position: absolute;
    top: 50%;
    left: -100px;
    font-size: 50px;
    color: aliceblue;
    animation: clickMoving 2s linear infinite;
  }
  /* player */
  .player {
    position: relative;
  }
  .player .box {
    display: flex;

    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: #1d3151;
  }
  .player .sciccors {
    position: absolute;
    left: 225px;
    top: 100px;
    border: 15px solid rgb(187, 207, 0);
  }
  .player .rock {
    position: absolute;
    top: 250px;
    left: 125px;
    border: 15px solid #e0405d;
  }
  .player .paper {
    position: absolute;
    top: 250px;
    left: 325px;

    border: 15px solid rgb(10, 160, 35);
  }
  .title {
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
  }
  .player .box:hover i {
    font-size: 70px;
    transition: 0.25s;
  }
  .player .rock:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px #e0405d;
    transition: 0.25s;
  }
  .player .sciccors:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px rgb(187, 207, 0);

    transition: 0.25s;
  }
  .player .paper:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px rgb(10, 160, 35);
    transition: 0.25s;
  }
  /* NPC */
  .npc-siccors {
    animation: moveSciccors 4s linear infinite;
  }
  .npc-rock {
    animation: moveRock 4s linear infinite;
  }
  .npc-paper {
    animation: movePaper 4s linear infinite;
  }

  .npc-sciccors-center {
    animation: npcSciccorsCenter 2s linear 1 forwards;
  }
  .npc-paper-center {
    animation: npcPaperCenter 2s linear 1 forwards;
  }
  .npc-rock-center {
    animation: npcRockCenter 2s linear 1 forwards;
  }
  @keyframes npcRockCenter {
    0% {
      transform: translateX(0) scale(1);
      opacity: 0;
    }
    100% {
      transform: translateX(150px) translateY(-75px) scale(1.5);
    }
  }
  @keyframes npcPaperCenter {
    0% {
      transform: translateX(0) scale(1);
      opacity: 0;
    }
    100% {
      transform: translateX(-150px) translateY(-75px) scale(1.5);
    }
  }
  @keyframes npcSciccorsCenter {
    0% {
      transform: translateX(0) scale(1);
      opacity: 0;
    }
    100% {
      transform: translateY(75px) scale(1.5);
    }
  }
  @keyframes moveSciccors {
    0% {
      transform: translateX(0);
      opacity: 0.9;
    }
    33% {
      transform: translateX(-100px) translateY(150px);
      opacity: 1;
    }
    66% {
      transform: translateX(100px) translateY(150px);
      opacity: 0.9;
    }
  }
  @keyframes movePaper {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    33% {
      transform: translateX(-100px) translateY(-150px);
      opacity: 0.9;
    }
    66% {
      transform: translateX(-200px) translateY(0px);
      opacity: 1;
    }
  }
  @keyframes moveRock {
    0% {
      transform: translateX(0);
      opacity: 0.9;
    }
    33% {
      transform: translateX(200px) translateY(0px);
      opacity: 1;
    }
    66% {
      transform: translateX(100px) translateY(-150px);
      opacity: 0.9;
    }
  }
  .npc {
    position: relative;
  }
  .npc .box {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: #1d3151;
  }
  .npc .sciccors {
    position: absolute;
    left: 225px;
    top: 100px;
    border: 15px solid rgb(187, 207, 0);
  }
  .npc .rock {
    position: absolute;
    top: 250px;
    left: 125px;
    border: 15px solid #e0405d;
  }
  .npc .paper {
    position: absolute;
    top: 250px;
    left: 325px;
    border: 15px solid rgb(10, 160, 35);
  }
  .title {
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
  }
  /* <!--------------------------- Score -----------------------> */
  .score {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .wrap-score {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
  }
  .player-score,
  .npc-score {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .scr-box {
    text-align: center;
    width: 120px;
    height: 60px;
    line-height: 60px;
    background: rgb(180, 180, 180);
  }
  .player-posistion,
  .npc-posistion,
  .destination {
    font-size: 40px;
  }
  .player-posistion {
    position: absolute;
    bottom: 70px;
    left: 0;
    color: #43fa77;
  }
  .destination {
    color: yellow;

    text-align: center;
    position: absolute;
    left: 600px;
    bottom: 70px;
  }
  .npc-posistion {
    position: absolute;
    bottom: 70px;
    right: 0;
    color: rgb(59 167 255);
  }

  /* Notice */
  .player-win,
  .player-lose,
  .player-win-game,
  .tie,
  .npc-win,
  .next {
    position: absolute;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 0px 20px #4e4c5b;
  }
  .player-lose,
  .player-win-game {
    font-weight: 900;
  }
  .next {
    top: 65%;
    width: 100px;
  }
  .w-cl {
    color: #43fa77;
  }
  .ls-cl {
    color: #e0405d;
  }
  .next:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: #e0405d;
    transition: 0.25s;
  }

  /* JS Events */

  .green {
    background: #43fa77;
  }
  .blue {
    background: rgb(61, 61, 255);
  }
  @keyframes movingSciccorsCenter {
    0% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(75px) scale(1.5);
    }
  }
  .moving-siccor {
    animation: movingSciccorsCenter 2s linear 1 forwards;
    box-shadow: 0px 0px 50px rgb(187, 207, 0);
  }
  @keyframes movingPaperCenter {
    0% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(-75px) translateX(-100px) scale(1.5);
    }
  }
  .moving-paper {
    animation: movingPaperCenter 2s linear 1 forwards;
    box-shadow: 0px 0px 50px rgb(10, 160, 35);
  }
  @keyframes movingRockCenter {
    0% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(-75px) translateX(100px) scale(1.5);
    }
  }
  .moving-rock {
    animation: movingRockCenter 2s linear 1 forwards;
    box-shadow: 0px 0px 50px #e0405d;
  }
  .none {
    display: none;
  }
}
/*--------------------------------------------- Responsive Moblie */
@media (max-width: 740px) {
  body {
    max-width: 360px;
    height: 100vh;
    position: relative;
  }
  .app {
    max-width: 360px;
    background: linear-gradient(to bottom, #273852, #1d3151);

    height: 100vh;
  }
  .userName {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .userName input {
    height: 40px;
    font-size: 16px;
    color: #013f13;
    padding: 0px 10px;
    border: 1px solid #bdbdbd;
    width: 180px;
  }
  .userName input:focus {
    outline: none;
  }
  .enter-btn {
    background: #e0405d;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border-radius: 10px;
    color: aliceblue;
    font-family: var(--font-rot);
  }
  .enter-btn:hover {
    cursor: pointer;
  }
  /* ------------------------------------nav-------------------------------- */
  .nav {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .wrap-nav-boxes {
    width: 300px;
    display: flex;
    justify-content: space-around;
    background-color: #1d3151;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    align-items: center;
  }
  .game-name {
    color: aliceblue;
    font-family: var(--font-lil);
  }
  .restart-box .restart-btn {
    background: yellow;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: var(--font-lil);
    color: #000000;
  }
  .rules-btn {
    background: yellow;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: var(--font-lil);
    color: #000000;
  }
  .rules {
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 285px;
    padding: 10px;
    font-family: var(--font-rot);
    z-index: 1;
  }
  .fr {
    color: rgb(1, 156, 9);
  }
  .sc {
    color: rgb(190, 0, 0);
  }
  .th {
    color: rgb(187, 207, 0);
  }
  .five-time {
    color: rgb(190, 0, 0);
  }
  .play-box {
    display: flex;
    justify-content: center;
  }
  .play-btn {
    padding: 10px 15px;
    background: rgb(190, 0, 0);
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
  }
  /* ---------------------------Main Game------------------- */
  .main-game {
    width: 360px;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
  }
  .wrap-game {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .wrap-game .player,
  .wrap-game .npc {
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: aliceblue;
    font-family: var(--font-rot);
    font-weight: bold;
  }
  .title .npc-tt {
    color: aqua;
  }
  .title .pl-tt {
    color: rgb(187, 207, 0);
  }
  .click-btn {
    display: none;
  }
  .player {
    width: 180px;
  }
  .player .box,
  .npc .box {
    width: 120px;
    height: 120px;
    display: flex;
    background-color: #ffffff;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin: 20px 0px;
  }
  .player .rock,
  .npc .rock {
    border: 15px solid #e0405d;
  }
  .player .paper,
  .npc .paper {
    border: 15px solid rgb(10, 160, 35);
  }
  .player .sciccors,
  .npc .sciccors {
    border: 15px solid rgb(187, 207, 0);
  }
  .npc-rock-animation-mobile {
    animation: movingRock-mobile 4s linear infinite;
  }
  .npc-paper-animation-mobile {
    animation: movingPaper-mobile 4s linear infinite;
  }
  .npc-sciccors-animation-mobile {
    animation: movingSciccors-mobile 4s linear infinite;
  }
  @keyframes movingRock-mobile {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(325px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes movingSciccors-mobile {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-325px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes movingPaper-mobile {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(175px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-175px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* -------------------------------score--------------------- */
  .score {
    width: 360px;
    position: fixed;
    bottom: 0;
  }
  .wrap-score {
    width: 360px;
    position: relative;
    display: flex;
  }
  .player-score,
  .npc-score {
    display: flex;
  }
  .player-score .scr-box,
  .npc-score .scr-box {
    width: 36px;
    text-align: center;
    background-color: #4e4c5b;
    height: 50px;
    line-height: 50px;
  }
  .player-posistion,
  .destination,
  .npc-posistion {
    position: absolute;
    top: -30px;
    font-size: 20px;
  }
  .player-posistion {
    left: 5px;
    color: #43fa77;
  }
  .npc-posistion {
    right: 5px;
    color: rgb(59 167 255);
  }
  .destination {
    left: 180px;
    color: yellow;
  }

  /* -------------------------------------notice---------------- */
  .notice {
  }
  .player-win,
  .player-lose,
  .player-win-game,
  .tie,
  .npc-win,
  .next {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px #4e4c5b;
    position: absolute;
    font-size: 20px;
    width: 250px;
    text-align: center;
    padding: 10px;
    opacity: 0.8;
  }
  .next {
    top: 60%;
    width: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    color: aliceblue;
    background-color: #e0405d;
    border-radius: 10px;
    opacity: 1;
  }
  .counting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: aliceblue;
    font-family: var(--font-lil);
  }
  /* JS events */
  .none {
    display: none;
  }
}
